[submodule "Slides-2018-06-26"]
	path = Slides-2018-06-26
	url = https://github.com/OCR-D/Slides-2018-06-26
[submodule "PhilTag-2018"]
	path = PhilTag-2018
	url = https://github.com/OCR-D/PhilTag-2018
[submodule "Transkribus-WS-2017"]
	path = Transkribus-WS-2017
	url = https://github.com/OCR-D/Transkribus-WS-2017
[submodule "Akademienunion_2017"]
	path = Akademienunion_2017
	url = https://github.com/OCR-D/Akademienunion_2017
[submodule "OCR-Workshop-2017"]
	path = OCR-Workshop-2017
	url = https://github.com/OCR-D/OCR-Workshop-2017
[submodule "DH-Kolloquium-2017"]
	path = DH-Kolloquium-2017
	url = https://github.com/OCR-D/DH-Kolloquium-2017
[submodule "ocrd-2018-07-11"]
	path = ocrd-2018-07-11
	url = https://github.com/kba/ocrd-2018-07-11
